/* Source Isaac Doud: https://codepen.io/cipherbeta/pen/YLdVjw */

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.glitch {
  position: relative;
  color: white;
  letter-spacing: 0.5em;
  /* Animation provies a slight random skew. Check bottom of doc
    for more information on how to random skew. */
  animation: glitch-skew 5s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #7e57c2;
  /* Creates an initial clip for our glitch. This works in
    a typical top,right,bottom,left fashion and creates a mask
    to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
    with an alternating animation to keep things fresh. */
  animation: glitch-anim 8s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #7e57c2;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
  a percentage for the specific step. It then generates a random clip
  box to be used for the random glitch effect. Also adds a very subtle
  skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(71px, 9999px, 8px, 0);
    transform: skew(0.15deg);
  }
  5% {
    clip: rect(48px, 9999px, 56px, 0);
    transform: skew(0.42deg);
  }
  10% {
    clip: rect(10px, 9999px, 31px, 0);
    transform: skew(0.61deg);
  }
  15% {
    clip: rect(92px, 9999px, 64px, 0);
    transform: skew(0.55deg);
  }
  20% {
    clip: rect(92px, 9999px, 62px, 0);
    transform: skew(0.42deg);
  }
  25% {
    clip: rect(97px, 9999px, 21px, 0);
    transform: skew(0.67deg);
  }
  30% {
    clip: rect(25px, 9999px, 31px, 0);
    transform: skew(0.1deg);
  }
  35% {
    clip: rect(89px, 9999px, 70px, 0);
    transform: skew(0.45deg);
  }
  40% {
    clip: rect(48px, 9999px, 9px, 0);
    transform: skew(0.44deg);
  }
  45% {
    clip: rect(14px, 9999px, 88px, 0);
    transform: skew(0.8deg);
  }
  50% {
    clip: rect(52px, 9999px, 13px, 0);
    transform: skew(0.44deg);
  }
  55% {
    clip: rect(100px, 9999px, 71px, 0);
    transform: skew(0.92deg);
  }
  60% {
    clip: rect(41px, 9999px, 12px, 0);
    transform: skew(0.41deg);
  }
  65% {
    clip: rect(30px, 9999px, 16px, 0);
    transform: skew(0.71deg);
  }
  70% {
    clip: rect(9px, 9999px, 64px, 0);
    transform: skew(0.4deg);
  }
  75% {
    clip: rect(15px, 9999px, 19px, 0);
    transform: skew(0.61deg);
  }
  80% {
    clip: rect(55px, 9999px, 88px, 0);
    transform: skew(0.64deg);
  }
  85% {
    clip: rect(13px, 9999px, 67px, 0);
    transform: skew(0.28deg);
  }
  90% {
    clip: rect(83px, 9999px, 84px, 0);
    transform: skew(0.81deg);
  }
  95% {
    clip: rect(89px, 9999px, 17px, 0);
    transform: skew(0.7deg);
  }
  100% {
    clip: rect(52px, 9999px, 42px, 0);
    transform: skew(0.66deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(56px, 9999px, 87px, 0);
    transform: skew(0.07deg);
  }
  5% {
    clip: rect(26px, 9999px, 74px, 0);
    transform: skew(0.71deg);
  }
  10% {
    clip: rect(20px, 9999px, 79px, 0);
    transform: skew(0.91deg);
  }
  15% {
    clip: rect(42px, 9999px, 52px, 0);
    transform: skew(0.42deg);
  }
  20% {
    clip: rect(7px, 9999px, 96px, 0);
    transform: skew(0.51deg);
  }
  25% {
    clip: rect(11px, 9999px, 89px, 0);
    transform: skew(0.87deg);
  }
  30% {
    clip: rect(2px, 9999px, 97px, 0);
    transform: skew(0.48deg);
  }
  35% {
    clip: rect(95px, 9999px, 55px, 0);
    transform: skew(0.58deg);
  }
  40% {
    clip: rect(67px, 9999px, 49px, 0);
    transform: skew(0.95deg);
  }
  45% {
    clip: rect(98px, 9999px, 72px, 0);
    transform: skew(0.93deg);
  }
  50% {
    clip: rect(44px, 9999px, 82px, 0);
    transform: skew(0.05deg);
  }
  55% {
    clip: rect(51px, 9999px, 91px, 0);
    transform: skew(0.09deg);
  }
  60% {
    clip: rect(75px, 9999px, 20px, 0);
    transform: skew(0.42deg);
  }
  65% {
    clip: rect(42px, 9999px, 51px, 0);
    transform: skew(0.26deg);
  }
  70% {
    clip: rect(30px, 9999px, 18px, 0);
    transform: skew(0.24deg);
  }
  75% {
    clip: rect(71px, 9999px, 79px, 0);
    transform: skew(0.19deg);
  }
  80% {
    clip: rect(83px, 9999px, 20px, 0);
    transform: skew(0.31deg);
  }
  85% {
    clip: rect(17px, 9999px, 6px, 0);
    transform: skew(0.21deg);
  }
  90% {
    clip: rect(27px, 9999px, 66px, 0);
    transform: skew(0.12deg);
  }
  95% {
    clip: rect(1px, 9999px, 17px, 0);
    transform: skew(0.36deg);
  }
  100% {
    clip: rect(72px, 9999px, 21px, 0);
    transform: skew(0.55deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(-4deg);
  }
  10% {
    transform: skew(0deg);
  }
  20% {
    transform: skew(3deg);
  }
  30% {
    transform: skew(3deg);
  }
  40% {
    transform: skew(-3deg);
  }
  50% {
    transform: skew(3deg);
  }
  60% {
    transform: skew(-2deg);
  }
  70% {
    transform: skew(4deg);
  }
  80% {
    transform: skew(-2deg);
  }
  90% {
    transform: skew(-3deg);
  }
  100% {
    transform: skew(-4deg);
  }
}
