.home-button {
  z-index: 1000;
  cursor: pointer;
  position: fixed;
  height: 25px;
  width: 25px;
  top: 1rem;
  left: 1rem;
  transition: all 0.2s ease-in-out;
}
.home-button:hover {
  transform: scale(1.1);
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  height: 30px;
  width: 30px;
  top: 1rem;
  right: 1rem;
  transition: all 0.2s ease-in-out;
}
.bm-burger-button:hover {
  transform: scale(1.1);
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: none;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  width: 300px !important;
}

/* General sidebar styles */
.bm-menu {
  overflow-y: hidden !important;

  background: var(--bg-color);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
