html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  font-size: 21px;

  color: var(--body-color);
  font-family: var(--font-body);
}

@media screen and (max-width: 600px) {
  html,
  body {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header), sans-serif;
  font-weight: 100;
}

a {
  color: var(--body-color);
}

p a {
  color: var(--body-color);

  text-decoration: none;
  border-bottom: 1px solid var(--color1-normal);
  box-shadow: inset 0 -2px 0 var(--color1-normal);
  color: inherit;
  transition: background 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
}
p a:hover {
  background: var(--color1-darker);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* Sidebar and menu items */

.sidebar {
  height: 100vh;
  width: 75px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  filter: brightness(90%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-feature {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  flex-grow: 10;
  text-align: center;
}

.sidebar-bottom {
  flex-shrink: 1;
}

.left-bar {
  left: 0;
}

.right-bar {
  right: 0;
}

@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}

.logo {
  padding: 0.5rem;
  margin: 0.5rem;
  color: var(--body-color);
}

.logo-standalone {
  display: none;
  position: fixed;
  top: 1rem;
}

.logo-standalone-left {
  left: 1rem;
}

.logo-standalone-right {
  right: 1rem;
}
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .logo-standalone {
    display: block;
  }
}

.content {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*------------------------------------*\
  #Sections
\*------------------------------------*/

.section {
  padding: 5rem;
  border: 1px solid var(--bg-color-darker);
  border-bottom: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(13, 24, 33, 0.6), rgba(0, 0, 0, 0.9)),
    repeating-linear-gradient(
      0,
      transparent,
      transparent 2px,
      var(--bg-color) 3px,
      var(--bg-color) 3px
    ),
    url("https://images.unsplash.com/photo-1520034475321-cbe63696469a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-position: center;
  animation: zoom 20s ease infinite alternate;
}

.hero-content {
  flex-grow: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 1rem;
  margin: 0;
  animation: fadein 2s;
}

@keyframes zoom {
  0% {
    background-size: 110%;
  }
  100% {
    background-size: 80%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero h1 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 0.5rem;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .hero h1 {
    font-size: 1.5rem;
  }
}

.hero h2 {
  font-size: 1.25rem;
  letter-spacing: 0.7rem;
  color: var(--color1-normal);
  text-align: center;
  padding-bottom: 0.5rem;
  margin: 0;
}

.hero .links {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
}

.hero .next {
  margin-bottom: 5rem;
}

/*------------------------------------*\
  #Buttons
\*------------------------------------*/

.btn {
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  margin: 0.7rem;
  padding: 0.5rem;
  position: relative;
  color: var(--body-color);
}

.btn:before,
.btn:after {
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  transition: all 0.3s ease;
}
.btn:before {
  top: -0.1rem;
  left: -0.1rem;
  border-top: 2px solid var(--color1-normal);
  border-left: 2px solid var(--color1-normal);
}
.btn:after {
  bottom: -0.1rem;
  right: -0.1rem;
  border-bottom: 2px solid var(--color1-normal);
  border-right: 2px solid var(--color1-normal);
}
.btn:hover:before,
.btn:hover:after {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 60vw; /* or whatever width you want. */
  border: 1px solid red;
  background: var(--bg-color);
  z-index: 1001;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
  visibility: visible;
}
@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

/*------------------------------------*\
  #Forms
\*------------------------------------*/

form {
  max-width: 600px;
  margin: 0.75rem auto;
  padding: 1rem;
}

form h1 {
  padding: 1rem 0;
  font-size: 1.25rem;
  text-align: center;
  margin: -0.75rem;
}

form .btn {
  min-width: 150px;
  font-size: 1.1rem;
  margin-left: 0;
  margin-right: 0;
}

label {
  padding: 0.5rem;
  margin-bottom: -0.5rem;
}

input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
textarea,
select {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  outline: none;

  width: 100%;
  background: none;
  border: 2px solid var(--bg-color-darker);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  color: var(--body-color);
}

input[type="text"]:invalid,
input[type="date"]:invalid,
input[type="datetime"]:invalid,
input[type="email"]:invalid,
input[type="number"]:invalid,
input[type="search"]:invalid,
input[type="time"]:invalid,
input[type="url"]:invalid,
textarea:invalid,
select:invalid {
  box-shadow: none;
  border-bottom: 3px solid var(--color2-normal);
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
  border-bottom: 3px solid var(--color1-normal);
}
