:root {
  /* base color 1 */
  --base-color1: 262;
  --color1-light: hsla(var(--base-color1), 50%, 75%, 100%);
  --color1-normal: hsla(var(--base-color1), 50%, 50%, 100%);
  --color1-darker: hsla(var(--base-color1), 50%, 35%, 100%);
  /* base color 2 */
  --base-color2: 2;
  --color2-light: hsla(var(--base-color2), 50%, 75%, 100%);
  --color2-normal: hsla(var(--base-color2), 50%, 50%, 100%);
  --color2-darker: hsla(var(--base-color2), 50%, 35%, 100%);
  /* base color 3 */
  --base-color3: 188;
  --color3-light: hsla(var(--base-color3), 50%, 75%, 100%);
  --color3-normal: hsla(var(--base-color3), 50%, 50%, 100%);
  --color3-darker: hsla(var(--base-color3), 50%, 35%, 100%);

  /* background and foreground color */
  --bg-color: hsla(0, 0%, 12%, 100%);
  --bg-color-darker: hsla(0, 0%, 8%, 100%);

  --body-color: hsla(26, 68%, 93%, 100%);

  /* fonts */
  --font-header: "League Mono Narrow";
  --font-body: "League Spartan";

  /* layout dimensions */
  --max-width: 968px;

  /* media breakpoints */
  --break-small: 576px;
  --break-medium: 768px;
  --break-large: 992px;
  --break-xlarge: 1200px;
}
